/* 모달 delete 추가 알림 css */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 120;
}

.box {
  width: 360px;
  height: auto;
  min-height: 180px;
  border-radius: 12px;

  background: #282d43ff;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 20px 24px;

  position: relative;
}

.closeBtn {
  background: transparent;
  border: none;

  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.closeBtn img {
  width: 14px;
  height: 14px;
}

.message {
  margin: 50px 0 30px 0;

  text-align: center;
  white-space: pre-line;
  font-size: 14px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnItemCommon {
  width: 130px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-size: 13px;

  color: #ffffff;
}

.btnItemCommon img {
  width: 10px;
  height: 10px;

  margin-right: 10px;
}

.btnBgBlue {
  border: 1px solid #0E85B7;
  background: #196189;
}
