.wrapper {
  position: relative;
}

/* 날짜 영역 */
.videoDate {
  display: flex;
  gap: 10px;
  align-items: center;
}

.startDate,
.endDate {
  width: 130px;
  background: #34384d;
  border: 2px solid #4c586e;
  color: #dedee0;
  padding: 5px 14px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 13px;
  height: 33px;
}

.startDate img,
.endDate img {
  height: 60%;
}

.activeBtn {
  background-color: var(--surface-input);
  border-color: var(--color-info-border);
}

/* 달력 팝업 위치 */
.calendarOverlay {
  position: absolute;
  top: 42px;
  left: 0;
  z-index: 100;
}
